// Gruvbox light colors

$l-bg-h: #f9f5d7;
$l-bg:   #fbf1c7;
$l-bg-s: #f2e5bc;
$l-bg1:  #ebdbb2;
$l-bg2:  #d5c4a1;
$l-bg3:  #bdae93;
$l-bg4:  #a89984;

$l-fg:  #282828;
$l-fg1: #3c3836;
$l-fg2: #504945;
$l-fg3: #665c54;
$l-fg4: #7c6f64;

$l-red:    #9d0006;
$l-green:  #79740e;
$l-yellow: #b57614;
$l-blue:   #076678;
$l-purple: #8f3f71;
$l-aqua:   #427b58;
$l-orange: #af3a03;
$l-gray:   #928374;

$l-red-dim:    #cc2412;
$l-green-dim:  #98971a;
$l-yellow-dim: #d79921;
$l-blue-dim:   #458598;
$l-purple-dim: #b16286;
$l-aqua-dim:   #689d6a;
$l-orange-dim: #d65d0e;
$l-gray-dim:   #7c6f64;
