@import 'light';
@import 'dark';

html,
body {
  background-color: $l-bg;
  font-family: serif;
  line-height: 1.5;
  color: $l-fg;
}
a {
  color: $l-blue;
	text-decoration: none;
}
a:visited {
  color: $l-purple;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.article-header {
  margin-bottom: 2em;
  h1 {
    margin-bottom: 0.75em;
  }
  .article-info {
    .dim {
      color: $l-gray;
    }
  }
}
article {
  a {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
  hr {
    border-top: dashed 1px;
    border-bottom: none;
    width: 90%;
  }
}
main {
	margin: auto;
	max-width: 38rem;
	padding: 0.8rem;
}
pre {
	background: white;
	overflow: scroll;
	padding: 1rem;
}
td {
	border: 1px solid $l-fg4;
	padding: 10px;
}
img {
	height: auto;
	max-width: 100%;
}
.homepage-list {
	list-style: none;
	padding: 1rem 0;
}
.homepage-list li {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
@media (max-width: 38rem) {
	.homepage-list li a {
		width: 100%;
	}
}
@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: $d-bg;
    color: $d-fg1;
    font-family: sans-serif;
  }
  a {
    color: $d-blue;
  }
  a:visited {
    color: $d-blue-dim;
  }
  .article-header {
    .article-info {
      .dim {
        color: $d-gray;
      }
    }
  }
}
.title {
	text-decoration: none;
  a {
    color: inherit;
    text-decoration: none;
  }
  margin-bottom: 0.25em;
}
.subtitle {
  font-size: small;
}
