{% extends "index.html" %}

{% block title %}{{ section.title }} &middot; {{ config.title }}{% endblock title %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}

{% block ogtitle %}{{ section.title }} - {{ config.title }}{% endblock ogtitle %}
{% block ogdesc %}{{ section.description | default(value=config.description) }}{% endblock ogdesc %}
{% block ogurl %}{{ section.permalink | safe }}{% endblock ogurl%}

{% block content %}
<h3>{{ section.title }}</h3>
<ul class="homepage-list">
  {% for post in section.pages %}
    {{ macros::post_in_list(post=post) }}
  {% endfor %}
</ul>
{% endblock content %}
